<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jovefast.flowable.mapper.FlowHistericTaskMapper">
    <select id="selectFlowHistericTaskInstance" parameterType="FlowTaskDto" resultType="HistoricTaskInstanceDTO">
        SELECT
        RES.ID_	AS	idRev,
        RES.PROC_DEF_ID_ AS  procDefId,
        RES.TASK_DEF_ID_ AS	taskDefId,
        RES.TASK_DEF_KEY_ AS	taskDefKey,
        RES.PROC_INST_ID_ AS	 procInstId,
        RES.EXECUTION_ID_ AS	  executionId,
        RES.SCOPE_ID_	  AS  scopeId,
        RES.SUB_SCOPE_ID_	 AS subScopeId,
        RES.SCOPE_TYPE_	  AS  scopeType,
        RES.SCOPE_DEFINITION_ID_  AS scopeDefinitionId,
        RES.PROPAGATED_STAGE_INST_ID_	 AS  propagatedStageInstId,
        RES.NAME_	 AS nname,
        RES.PARENT_TASK_ID_	 AS parentTaskId,
        RES.DESCRIPTION_	AS  description,
        RES.OWNER_	AS owners,
        RES.ASSIGNEE_	 AS assignee,
        RES.START_TIME_ AS startTime,
        RES.CLAIM_TIME_	 AS claimTime,
        RES.END_TIME_	 AS  endTime,
        RES.DURATION_	 AS duration,
        RES.DELETE_REASON_  AS	deleteReason,
        RES.PRIORITY_	 AS  priority,
        RES.DUE_DATE_	 AS  dueDate,
        RES.FORM_KEY_	 AS  formKey,
        RES.CATEGORY_	 AS  category,
        RES.TENANT_ID_	AS tenantId,
        RES.LAST_UPDATED_TIME_  AS	LastUpdatedTime,
        SPT.process_title AS processTitle,
        SU.nick_name AS startUserName,
        SU.user_id AS startUserId,
        SD.dept_name AS startDeptName
        FROM
        (
        SELECT
        RES.*
        FROM
        ACT_HI_TASKINST RES
        <where>
            RES.ASSIGNEE_ = #{params.assignee}
            AND RES.END_TIME_ IS NOT NULL
            <if test="tenantId != null and tenantId != ''">
                AND RES.TENANT_ID_ = #{tenantId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND RES.START_TIME_ &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND RES.START_TIME_ &lt;= #{params.endTime}
            </if>
        </where>
        ORDER BY
        RES.END_TIME_ DESC
        LIMIT #{params.pageSize} OFFSET #{params.pageNum}
        ) RES
        LEFT OUTER JOIN ACT_HI_PROCINST AHP ON AHP.PROC_INST_ID_ = RES.PROC_INST_ID_
        LEFT OUTER JOIN sys_process_title SPT ON RES.PROC_INST_ID_ = SPT.proc_ins_id
        LEFT OUTER JOIN `jove-cloud`.sys_user SU ON AHP.START_USER_ID_ = SU.user_id
        LEFT OUTER JOIN `jove-cloud`.sys_dept SD ON SD.dept_id = SU.dept_id
        <where>
            <if test="processTitle != null and processTitle != ''">
                AND SPT.process_title like CONCAT('%', #{processTitle}, '%')
            </if>
            <if test="startUserName != null and startUserName != ''">
                AND SU.nick_name like CONCAT('%', #{startUserName}, '%')
            </if>
            <if test="startDeptName != null and startDeptName != ''">
                AND SD.dept_name like CONCAT('%', #{startDeptName}, '%')
            </if>
        </where>
        ORDER BY
        RES.END_TIME_ DESC
    </select>


    <select id="selectFlowHistericTaskInstanceCount" parameterType="FlowTaskDto" resultType="integer">
        SELECT
        count(0)
        FROM
        (
        SELECT
        RES.*
        FROM
        ACT_HI_TASKINST RES
        <where>
            RES.ASSIGNEE_ = #{params.assignee}
            AND RES.END_TIME_ IS NOT NULL
            <if test="tenantId != null and tenantId != ''">
                AND RES.TENANT_ID_ = #{tenantId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND RES.START_TIME_ &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND RES.START_TIME_ &lt;= #{params.endTime}
            </if>
        </where>
        ) RES
        LEFT OUTER JOIN ACT_HI_PROCINST AHP ON AHP.PROC_INST_ID_ = RES.PROC_INST_ID_
        LEFT OUTER JOIN sys_process_title SPT ON RES.PROC_INST_ID_ = SPT.proc_ins_id
        LEFT OUTER JOIN `jove-cloud`.sys_user SU ON AHP.START_USER_ID_ = SU.user_id
        LEFT OUTER JOIN `jove-cloud`.sys_dept SD ON SD.dept_id = SU.dept_id
        <where>
            <if test="processTitle != null and processTitle != ''">
                AND SPT.process_title like CONCAT('%', #{processTitle}, '%')
            </if>
            <if test="startUserName != null and startUserName != ''">
                AND SU.nick_name like CONCAT('%', #{startUserName}, '%')
            </if>
            <if test="startDeptName != null and startDeptName != ''">
                AND SD.dept_name like CONCAT('%', #{startDeptName}, '%')
            </if>
        </where>
    </select>

    <select id="selectFlowHistoricProcessInstance" parameterType="FlowTaskDto" resultType="HistoricProcessInstanceDTO">
        SELECT
        RES.START_USER_ID_ AS startUserId,
        SP.process_title AS processTitle,
        RES.ID_ AS resId,
        RES.PROC_DEF_ID_ AS procDefId,
        RES.START_TIME_ AS startTime,
        RES.END_TIME_ AS endTime,
        RES.PROC_INST_ID_ AS procInsId,
        DEF.KEY_ AS procDefKey,
        DEF.NAME_ AS porcDefName,
        SDF.form_id AS formId
        FROM
        ACT_HI_PROCINST RES
        LEFT OUTER JOIN ACT_RE_PROCDEF DEF ON RES.PROC_DEF_ID_ = DEF.ID_
        LEFT OUTER JOIN sys_process_title SP ON SP.proc_ins_id = RES.ID_
        LEFT OUTER JOIN sys_deploy_form SDF ON SDF.deploy_id = DEF.DEPLOYMENT_ID_
        <where>
            <if test="params.assignee != null and params.assignee != ''">
                AND RES.START_USER_ID_ = #{params.assignee}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND RES.TENANT_ID_ = #{tenantId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND RES.START_TIME_ &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND RES.START_TIME_ &lt;= #{params.endTime}
            </if>
            <if test="procDefName != null and procDefName != ''">
                AND DEF.NAME_ like CONCAT('%', #{procDefName}, '%')
            </if>
            <if test="processTitle != null and processTitle != ''">
                AND SP.process_title like CONCAT('%', #{processTitle}, '%')
            </if>
            <if test="markCompleted != null">
                <choose>
                    <when test="markCompleted == 1">
                        AND RES.END_TIME_ IS NOT NULL
                    </when>
                    <otherwise>
                        AND RES.END_TIME_ IS NULL
                    </otherwise>
                </choose>
            </if>

        </where>
        ORDER BY
        RES.START_TIME_ DESC
        LIMIT #{params.pageSize} OFFSET #{params.pageNum}
    </select>


    <select id="selectFlowHistoricProcessInstanceCount" parameterType="FlowTaskDto" resultType="integer">
        SELECT
        count(0)
        FROM
        ACT_HI_PROCINST RES
        LEFT OUTER JOIN ACT_RE_PROCDEF DEF ON RES.PROC_DEF_ID_ = DEF.ID_
        LEFT OUTER JOIN sys_process_title SP ON SP.proc_ins_id = RES.ID_
        <where>
            <if test="params.assignee != null and params.assignee != ''">
                AND RES.START_USER_ID_ = #{params.assignee}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND RES.TENANT_ID_ = #{tenantId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND RES.START_TIME_ &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND RES.START_TIME_ &lt;= #{params.endTime}
            </if>
            <if test="procDefName != null and procDefName != ''">
                AND DEF.NAME_ like CONCAT('%', #{procDefName}, '%')
            </if>
            <if test="processTitle != null and processTitle != ''">
                AND SP.process_title like CONCAT('%', #{processTitle}, '%')
            </if>
            <if test="markCompleted != null">
                <choose>
                    <when test="markCompleted == 1">
                        AND RES.END_TIME_ IS NOT NULL
                    </when>
                    <otherwise>
                        AND RES.END_TIME_ IS NULL
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
</mapper>