<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jovefast.job.mapper.LockMessageMapper">

	<update id="updateStatus">
		UPDATE LockMessage SET push_state = 1,last_push_time = getdate() WHERE RKEY in
		<foreach item="item" collection="rkeys" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<select id="getTheLockTimeoutDatas" parameterType="java.util.HashMap" resultType="LockMessage">
		SELECT
		ROW_NUMBER ( ) OVER ( ORDER BY rkey DESC ) AS rownumber,
		rkey,
		lot,
		mfg,
		wo,
		lockreason,
		judge,
		CONVERT ( VARCHAR ( 100 ), lock_date, 20 ) AS lock_date,
		datediff(hh,lock_date,GETDATE()) as timeout
		FROM
		lockmessage
		WHERE
		rkey IN (
		SELECT MAX
		( rkey )
		FROM
		lockmessage
		WHERE
		is_lock = 0
		<choose>
			<when test="push_the_code != null and push_the_code != ''">
				AND push_the_code = #{push_the_code}
			</when>
			<otherwise>
				AND push_the_code = 0
			</otherwise>
		</choose>
		AND datediff(hh,lock_date,GETDATE()) >= 48
		AND datediff(hh,last_push_time,GETDATE()) >= 24
		GROUP BY
		wo,
		lockreason,
		SUBSTRING ( CONVERT ( VARCHAR ( 100 ), lock_date, 20 ), 1, 13 )
		)
	</select>

	<select id="getLockMessage" parameterType="java.util.HashMap" resultType="LockMessage">
		SELECT
		ROW_NUMBER ( ) OVER ( ORDER BY rkey DESC ) AS rownumber,
		rkey,
		lot,
		mfg,
		wo,
		lockreason,
		judge,
		CONVERT ( VARCHAR ( 100 ), lock_date, 20 ) AS lock_date
		FROM
		lockmessage
		WHERE
		rkey IN (
		SELECT MAX
		( rkey )
		FROM
		lockmessage
		WHERE
		push_state = 0
		<choose>
			<when test="push_the_code != null and push_the_code != ''">
				AND push_the_code = #{push_the_code}
			</when>
			<otherwise>
				AND push_the_code = 0
			</otherwise>
		</choose>
		GROUP BY
		wo,
		lockreason,
		SUBSTRING ( CONVERT ( VARCHAR ( 100 ), lock_date, 20 ), 1, 13 )
		)
	</select>

</mapper> 