<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jovefast.job.mapper.PackRelatedMapper">

	<select id="getShipiInstructionByStatusOnCreate" resultType="ShipiInstructionDTO">
		SELECT * FROM
			(
				SELECT
					row_number ( ) OVER ( partition BY shipNum ORDER BY shipDate DESC ) AS num,
					shipNum,
					factoryName,
					custCode,
					po,
					mo,
					custPn,
					mfg,
					shipDate,
					launchDate + ' ' + SUBSTRING ( launchTime, 0, 6 ) AS launchDate
				FROM
					ShipiInstruction
				WHERE
					shipStatus = '0'
			) AS A
		WHERE A.num = 1
	</select>

</mapper> 