<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jovefast.job.mapper.SpotCheckMapper">
    <select id="findExpireData9995" resultType="Data9995">
        SELECT RKEY AS rkey,
               QR_CODE AS qrCode,
               CREATE_DATE AS createDate,
               IMAGES_ADDRESS AS imagesAddress,
               User_Name AS userName,
               QR_IMAGES_ADDRESS AS qrImagesAddress,
               IMAGES_ADDRESS_2 AS imagesAddress2,
               IMAGES_ADDRESS_3 AS imagesAddress3,
               IMAGES_ADDRESS_4 AS imagesAddress4,
               IMAGES_ADDRESS_5 AS imagesAddress5,
               breaks,
               plants
        FROM DATA9995 with(nolock)
        WHERE CREATE_DATE &lt; DateAdd(yy, -1, GetDate())
        ORDER BY CREATE_DATE
    </select>

    <delete id="delExpireData9995">
        DELETE
        FROM DATA9995
        WHERE CREATE_DATE &lt; DateAdd(yy, -1, GetDate())
    </delete>
</mapper>