<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jovefast.job.mapper.TimeControllTempMapper">
	<select id="scanningEarlyWarningTimeControllTemp" resultType="TimeControllTemp">
		SELECT
			rkey,
			wo,
			mo,
			mfg,
			custcode,
			warndate,
			alarmsdate,
			factoryname,
			auditor,
			party,
			startdepartment,
			enddepartment,
			startdate,
			enddate,
			warn,
			alarms,
			DATEDIFF( Hour, startdate, getdate()) AS overtime,
			status,
			lastwarningtime
		FROM Time_Controll_Temp with(nolock)
		WHERE enddate IS NULL
		  AND DATEDIFF( Hour, startdate, getdate()) &gt;= warn AND DATEDIFF( Hour, startdate, getdate()) &lt; alarms  AND status = 0
	</select>

	<select id="scanningCallPoliceTimeControllTemp" resultType="TimeControllTemp">
		SELECT
			rkey,
			wo,
			mo,
			mfg,
			custcode,
			warndate,
			alarmsdate,
			factoryname,
			auditor,
			party,
			startdepartment,
			enddepartment,
			startdate,
			enddate,
			warn,
			alarms,
			DATEDIFF( Hour, startdate, getdate()) AS overtime,
			DATEDIFF( Hour, alarmsdate, getdate()) AS outtime,
			status,
			lastwarningtime
		FROM Time_Controll_Temp with(nolock)
		WHERE status = 1 AND enddate IS NULL
		  AND DATEDIFF( Hour, startdate, getdate()) &gt;= alarms
		  AND NOT EXISTS (SELECT 1 FROM DATA9989 WITH(NOLOCK)
			LEFT JOIN DATA0006 WITH(NOLOCK) ON DATA9989.WO_PTR = DATA0006.RKEY
			WHERE DATA0006.WORK_ORDER_NUMBER = Time_Controll_Temp.wo COLLATE Chinese_PRC_CI_AS
		  AND   DATA9989.DEPT_NAME = Time_Controll_Temp.enddepartment
		  AND DATA9989.DEPT_NAME_START = Time_Controll_Temp.startdepartment)
	</select>

	<select id="lockWorkOrderNumber" resultType="java.lang.Integer" parameterType="TimeControllTemp">
		DECLARE @STATUS INT
        EXEC @STATUS = lock_workordernumber #{wo},#{enddepartment},#{startdate},#{factoryname},#{alarms},#{lastwarningtime},#{startdepartment},#{rkey},#{son}
		SELECT @STATUS
	</select>

	<update id="updateTimeControll" parameterType="TimeControllTemp">
		UPDATE Time_Controll_Temp SET status = #{status},enddate = null WHERE rkey = #{rkey}
	</update>

	<update id="updateTimeControllByLastWarningTime" parameterType="TimeControllTemp">
		UPDATE Time_Controll_Temp SET lastwarningtime = GETDATE() WHERE rkey = #{rkey}
	</update>


	<select id="scanningEarlyWarningTimeControllTempFourHour" resultType="TimeControllTemp">
		SELECT
			rkey,
			wo,
			mo,
			mfg,
			custcode,
			warndate,
			alarmsdate,
			factoryname,
			auditor,
			party,
			startdepartment,
			enddepartment,
			startdate,
			enddate,
			warn,
			alarms,
			DATEDIFF( Hour, startdate, getdate()) AS overtime,
			status,
			lastwarningtime
		FROM Time_Controll_Temp with(nolock)
		WHERE status = 1
	</select>

	<select id="scanningCallPoliceTimeControllTempFourHour" resultType="TimeControllTemp">
		SELECT
			rkey,
			wo,
			mo,
			mfg,
			custcode,
			warndate,
			alarmsdate,
			factoryname,
			auditor,
			party,
			startdepartment,
			enddepartment,
			startdate,
			enddate,
			warn,
			alarms,
			DATEDIFF( Hour, startdate, getdate()) AS overtime,
			DATEDIFF( Hour, alarmsdate, getdate()) AS outtime,
			status,
			lastwarningtime
		FROM Time_Controll_Temp with(nolock)
		WHERE status = 2
	</select>

	<select id="scanningTimeControllTempByRange" resultType="TimeControllTemp" parameterType="java.util.HashMap">
		SELECT
			rkey,
			wo,
			mo,
			mfg,
			custcode,
			warndate,
			alarmsdate,
			factoryname,
			auditor,
			party,
			startdepartment,
			enddepartment,
			startdate,
			enddate,
			warn,
			alarms,
			DATEDIFF( Hour, startdate, getdate()) AS overtime,
			DATEDIFF( Hour, alarmsdate, getdate()) AS outtime,
			status,
			lastwarningtime
		FROM Time_Controll_Temp with(nolock)
		WHERE startdepartment = #{startdepartment} AND enddepartment = #{enddepartment} AND wo = #{wo}
	</select>
	<insert id="saveFirstEarlyWarningRecord" parameterType="TimeControllTemp">
		INSERT INTO first_early_warning_record
		(wo,mo,mfg,custcode,factoryname,auditor,startdepartment,enddepartment,startdate,enddate,warn,createdate)
		VALUES(#{wo},#{mo},#{mfg},#{custcode},#{factoryname},#{auditor},#{startdepartment},#{enddepartment},#{startdate},#{enddate},#{warn},GETDATE())
	</insert>
	
	<select id="selectVfinishedgoodsInventoryStat" timeout="600" parameterType="java.util.HashMap" resultType="VfinishedgoodsInventoryStatDTO">
		SELECT
			d53_ptr AS d53Ptr,
			sales_part_number AS salesPartNumber,
			surface,
			WORK_ORDER_NUMBER AS workOrderNumber,
			d50_reky AS d50Reky,
			shelf_life AS shelfLife,
			customer_part_number AS customerPartNumber,
			customer_part_desc AS customerPartDesc,
			cust_code AS custCode,
			customer_name AS customerName,
			analysis_code_3 AS analysisCode3,
			prod_cycle AS prodCycle,
			schedate AS schedate,
			mfg_date AS mfgDate,
			PROD_PART_NUMBER AS prodPartNumber,
			qty_on_hand AS qtyOnHand,
			d16Rkey AS d16Rkey,
			location,
			sum_qty AS sumQty,
			setl,
			setw,
			pcs_set AS pcsSet,
			area_fg AS areaFg,
			expire_date AS expireDate,
			hold_status AS holdStatus,
			note1,
	        NOTE_PAD_LINE_1 AS notePadLine1
		FROM
			V_FINISHEDGOODS_INVENTORY_STAT_REPORT
		WHERE location LIKE '%成品%' AND DateDiff(dd,schedate,getdate()) &lt;= 31
	</select>

</mapper> 